body {
  background-image: url("http://us.cdn1.123rf.com/168nwm/ptahi/ptahi1210/ptahi121000002/15713955-green-baize-seamless-background.jpg");
  font: 100% "Arial Narrow";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#board {
  width: 94%;
  margin: 0 auto;
}

.claim-rank-body {
  margin: 0 auto;
}

.claim-rank-btn {
  margin: 0px 2px 0px;
}

.info-panel {
  width: 100%;
  /*height: 150px;*/
  position: relative;
  margin: 2% auto;
  border: 7px solid #030;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 40px;
}

.button-panel {
  text-align: center;
}

.info-panel p {
  color: #FCFAF2;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.cheat-btn {
  color: #FCFAF2;
  font-size: 2em;
  font-weight: bold;
  background: transparent;
  border: 2px solid #030;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 5px 10px;
}

.cheat-btn:hover {
  cursor: pointer;
  -moz-box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 50px rgba(255, 255, 200, 0.8);
  -webkit-box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 50px rgba(255, 255, 200, 0.8);
  box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3), 0 0 50px rgba(255, 255, 200, 0.8);
}