<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Checkers</title>
  <meta name="description" content="Checkers">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700|Raleway' rel='stylesheet' type='text/css'>-->
  <link rel="stylesheet" href="css/cheat.css"/>
  <link rel="stylesheet" href="css/cards.css"/>
  <link rel="stylesheet" href="css/responsive.css"/>
  <link rel="stylesheet" href="vendor/font-awesome-4.2.0/css/font-awesome.min.css"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="vendor/jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
  <!--Enable the drag and drop in mobile device-->
  <script src="vendor/jquery-ui-touch-punch-0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <!--<script src="bower_components/angular/angular.js"></script>-->
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script>
    angular.module('myApp', ['ngAnimate']);
  </script>
  <script src="js/services/CheatLogicService.js"></script>
  <script src="js/controllers/CheatCtrl.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
</head>
<body ng-cloak ng-controller="CheatCtrl">
<section id="board">

  <ul class="player-black grid">
    <li ng-repeat="card in state.black" data-value="{{getCardDataValue(card)}}"><p></p></li>
  </ul>

  <ul class="middle grid">
    <li ng-repeat="card in state.middle" data-value="{{getCardDataValue(card)}}"><p></p></li>
  </ul>

  <ul class="player-white grid">
    <li ng-repeat="card in state.white" data-value="{{getCardDataValue(card)}}"><p></p></li>
  </ul>

  <!--------------------------------------------------------------------------->
  <!--------------------------------Claim modal-------------------------------->
  <!--------------------------------------------------------------------------->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#claimModal">
    Claim!
  </button>

  <!-- Modal -->
  <div data-backdrop="static" data-keyboard="false" class="modal fade" id="claimModal" tabindex="-1" role="dialog" aria-labelledby="claimModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="claimModalLabel">Claim the rank!</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-primary">2</button>
          <button type="button" class="btn btn-primary">3</button>
          <button type="button" class="btn btn-primary">4</button>
          <button type="button" class="btn btn-primary">5</button>
          <button type="button" class="btn btn-primary">6</button>
          <button type="button" class="btn btn-primary">7</button>
          <button type="button" class="btn btn-primary">8</button>
          <button type="button" class="btn btn-primary">9</button>
          <button type="button" class="btn btn-primary">10</button>
          <button type="button" class="btn btn-primary">J</button>
          <button type="button" class="btn btn-primary">Q</button>
          <button type="button" class="btn btn-primary">K</button>
          <button type="button" class="btn btn-primary">A</button>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------->
  <!------------------------------Declare Cheater------------------------------>
  <!--------------------------------------------------------------------------->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#declareModal">
    Declare!
  </button>

  <!-- Modal -->
  <div data-backdrop="static" data-keyboard="false" class="modal fade" id="declareModal" tabindex="-1" role="dialog" aria-labelledby="declareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="declareModalLabel">Declare time!</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-primary">Is cheater!!!</button>
          <button type="button" class="btn btn-primary">Pass</button>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>
