<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Checkers</title>
  <meta name="description" content="Checkers">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!--<link href='http://fonts.googleapis.com/css?family=Cinzel:400,700|Raleway' rel='stylesheet' type='text/css'>-->
  <link rel="stylesheet" href="css/cheat.css"/>
  <link rel="stylesheet" href="css/cards.css"/>
  <!--<link rel="stylesheet" href="css/responsive.css"/>-->
  <link rel="stylesheet" href="vendor/font-awesome-4.2.0/css/font-awesome.min.css"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="vendor/jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
  <!--Enable the drag and drop in mobile device-->
  <script src="vendor/jquery-ui-touch-punch-0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <!--<script src="bower_components/angular/angular.js"></script>-->
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script>
    angular.module('myApp', ['ngAnimate']);
  </script>
  <script src="js/services/CheatLogicService.js"></script>
  <script src="js/controllers/CheatCtrl.js"></script>
  <script src="js/directives/DraggableDirective.js"></script>
  <script src="js/directives/DropTargetDirective.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/scaleBodyService.js"></script>
</head>
<body ng-cloak ng-controller="CheatCtrl">
<section id="board">

  <ul class="player-2 grid">
    <li ng-repeat="card in playerTwoCards" ng-click="selectCard(card)" data-value="{{getCardDataValue(card)}}"><p></p></li>
  </ul>

  <ul class="middle grid" dd-drop-target>
    <li id="{{card}}" ng-repeat="card in middle" dd-draggable={{canDrag(card)}} ng-click="selectCard(card)" data-value="{{getCardDataValue(card)}}"><p></p></li>
  </ul>

  <div class="info-panel">
    <p ng-show="checkStage('DO_CLAIM') && isYourTurn">Please make a claim.</p>
    <p ng-show="checkStage('DECLARE_CHEATER') && isYourTurn">The opponent claims {{state.claim[0]}} cards of {{state.claim[1]}}. Call cheater?</p>
    <p ng-show="checkStage('DO_CLAIM') && !isYourTurn">The opponent is making a claim</p>
    <p ng-show="checkStage('DECLARE_CHEATER') && !isYourTurn">The opponent is thinking... Did you cheat?</p>
    <div class="button-panel">
      <button ng-show="checkStage('DO_CLAIM') && isYourTurn && hasSelectedCards()" type="button" class="cheat-btn" ng-repeat="rank in claimRanks" ng-click="claim(rank)">{{rank}}</button>

      <button ng-show="checkStage('DECLARE_CHEATER') && isYourTurn" type="button" ng-click="declare(true)" class="cheat-btn">Is cheater!!!</button>
      <button ng-show="checkStage('DECLARE_CHEATER') && isYourTurn" type="button" ng-click="declare(false)" class="cheat-btn">Pass</button>
    </div>
  </div>

  <ul class="player-1 grid" dd-drop-target>
    <li id="{{card}}" ng-repeat="card in playerOneCards" dd-draggable={{canDrag(card)}} ng-click="selectCard(card)" data-value="{{getCardDataValue(card)}}"><p></p></li>
  </ul>
</section>
</body>
</html>
